      @import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
      ;

      * {
          margin: auto;
          /*Margin = Un espaciado externo*/
      }

      h1,
      h2 {
          font-family: "Alan Sans", sans-serif;
      }

      body {
          font-family: "DM Sans", sans-serif;
      }

      /*El orden debe de ser de la manera arriba a abajo xd*/
      header {
          background-color: #a6b9ff;
          text-align: center;
          color: peru;
          border-bottom: solid 5px #000000;
          padding: 30px 0;
          /*Border =*/
          /*padding= 1° Valor = Top, 2° Valor = , 3° Valor = , 4° Valor = */
          /*Este es un comentario*/
      }

      nav {
          background-color: #cbd6ff;
          padding: 30px 20px;
          border-bottom: solid 5px #424551;
          font-size: 15px;
      }

      nav a {
          text-decoration: none;
          color: #4b0000;
          font-size: 15px;
          padding: 10px;
          text-transform: initial;

      }

      nav a:hover {
          background-color: #aab5df;
      }

      #bienvenida {
          padding: 30px;
          text-align: center;
      }

      /*Con # podemos llamar los id*/
      /*El padding pueden haber 4 valores donde el primero es arriba abajo y el segundo izquierda y derecha*/
      #proyectos {
          background-color: #e6ccb9;
          padding: 30px 20px;
          text-align: center;
      }

      .lista-proyectos {
          display: flex;
          padding-top: 20px;
      }

      /*Boder por 3 valores: Tipo, color y tamaño
      Se declara la clase con punto = .*/
      .proyecto {
          width: 30%;
          border: solid 2px #2f3446;
          padding: 5px;
          border-radius: 30px;
      }

      .proyecto h3 {
          color: #5f4444
      }

      #competencias {
          padding: 30px 30px;
      }

      #competencias h2 {
          padding-bottom: 30px;
          text-align: center;
      }

      #competencias ul {
          list-style-type: none;
          display: flex;
          clear: both;
          /*clear both: Obliga que haya un salto de lineas*/
      }

      #competencias ul li {
          background-color: darkblue;
          color: #ffffff;
          padding: 10px 20px;
          border-radius: 20px;

      }

      #contacto {
          padding: 30px;
          border-top: 2px dashed rgb(102, 102, 227);
      }

      .campos {
          padding: 10px;
          clear: both;
          font-size: 20px;
      }

      .campos input {
          font-size: 20px;
          padding: 15px;
          border: solid 2px #cbd6ff;
          border-radius: 10px;
          width: 20%;
      }

      .campos button {
          padding: 20px;
          border-radius: 20px;
          background-color: #bab4df;
          color: #080039;
          width: 20%;
          font-size: 20px;
          border: none;
      }

      footer {
          padding: 30px 30px;
          background-color: blanchedalmond;
          color: rgb(0, 0, 0);
          font-size: 14px;
          border-top: solid 5px rgb(182, 210, 210);
          text-align: center;
      }